node_modules/
build/
bin/
.vscode/
examples/*/www
dist/
www/crochet.js
tsconfig.tsbuildinfo
versions/current.js
.binary/
*.croc
stdlib/**/*.js
tools/**/native/*.js
_build
*.lingua.crochet
*:Zone.Identifier