/* -- Value lenses */
.value-lens-container {
  margin: 1em;
}

.value-lens-unknown {
  font-family: var(--font-family-monospace);
  white-space: pre-wrap;
  padding: 0.5em;
  border: 1px dashed #9b9b9b;
}

.value-lens-nothing {
  display: none;
}

.value-lens-empty {
  display: none;
}

.value-lens-number {
  color: #039be5;
}

.value-lens-text {
  color: #00796b;
  white-space: pre-wrap;
}
.value-lens-text::before {
  content: "“";
  color: #525252;
}
.value-lens-text::after {
  content: "”";
  color: #525252;
}

.value-lens-text[data-untrusted="true"] {
  color: #d32f2f;
}

.value-lens-text[data-untrusted="true"]::before {
  content: "(untrusted text) “";
  color: #525252;
}

.value-lens-boolean {
  font-weight: bold;
}

.value-lens-code {
  font-family: var(--font-family-monospace);
  white-space: pre-wrap;
}

.value-lens-list {
  display: flex;
  flex-direction: column;
  border: 1px solid #ececea;
}

.value-lens-list-item {
  border-bottom: 1px solid #ececea;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.value-lens-list-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.value-lens-table {
  border: 1px solid #ececea;
  display: table;
  border-collapse: collapse;
}

.value-lens-table-header,
.value-lens-table-row {
  display: table-row;
}

.value-lens-table-cell {
  display: table-cell;
  padding: 0.5em;
  border: 1px solid #ececea;
}

.value-lens-table-header > .value-lens-table-cell {
  background: #ececea;
  text-align: center;
  font-weight: bold;
}

.value-lens-flow,
.value-lens-flow-item {
  display: inline-block;
}

.value-lens-flex-row {
  display: flex;
  flex-direction: row;
}

.value-lens-flex-column {
  display: flex;
  flex-direction: column;
}

.value-lens-fixed-layout {
  position: relative;
  overflow: hidden;
}

.value-lens-position {
  position: absolute;
}

.value-lens-typed {
  display: flex;
  flex-direction: column;
}

.value-lens-typed-type {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #7a7a7a;
  line-height: 1.6em;
}

.value-lens-typed-value {
  padding: 0.5em;
}

.value-lens-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.3em;
}

.value-lens-group-button {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 9px;
  text-align: center;
  background: #039be5;
  border-radius: 100%;
  color: #fafafa;
}

.value-lens-group[data-compact="true"]
  > .value-lens-group-contents
  > .value-lens-group-expanded,
.value-lens-group[data-compact="false"]
  > .value-lens-group-contents
  > .value-lens-group-compact {
  display: none;
}

.value-lens-timeline {
  border: 1px solid #ececea;
}

.value-lens-timeline-frames {
  position: relative;
}

.value-lens-timeline-frames-entry.show {
  display: block;
}
.value-lens-timeline-frames-entry {
  display: none;
  margin: 0.5em;
}

.value-lens-timeline-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  background: #f3f3f3;
  border-top: 2px solid #ececea;
  gap: 1em;
}

.value-lens-timeline-control-time {
  flex-grow: 1;
}

.value-lens-timeline-control-button {
  width: 24px;
  height: 24px;
}
