.purr-ui-root {
  --color-black: #2f2f2f;
  --color-white: #fafafa;

  /* todo: tweak this */
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;

  --color-accent: #1c6e8c;
  --color-border: var(--color-slate-300);

  --color-button: var(--color-accent);
  --color-button-text: var(--color-white);
  --color-button-disabled: var(--color-slate-300);
  --color-button-hover: var(--color-accent);
  --color-button-active: var(--color-accent);
  --color-button-clear-text: var(--color-accent);

  --color-text: var(--color-black);
  --color-text-secondary: var(--color-slate-500);

  --color-background: var(--color-white);
  --color-background-hover: var(--color-slate-100);

  --color-navigation-header: var(--color-slate-500);

  --color-input-disabled-background: var(--color-slate-300);

  --font-family-serif: serif;
  --font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  --font-family-monospace: ui-monospace, SFMono-Regular, Consolas,
    "Liberation Mono", monospace;
  --font-family-display: "Roboto", var(--font-family-sans-serif);
  --font-family-body: "Roboto", var(--font-family-sans-serif);
}

:host(.purr-ui) {
  width: 100vw;
  height: 100vh;
}

.purr-ui-root {
  background: var(--color-background);
  font-family: var(--font-family-body);
  color: var(--color-text);
  font-size: 16px;
}

.purr-ui-root,
.purr-ui-container {
  width: 100%;
  height: 100%;
}

.purr-ui-title-bar {
  height: 3rem;
  border-bottom: 1px solid var(--color-border);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
  padding: 0 0.5rem;
  line-height: 1.5rem;
}

.purr-ui-title-bar-button {
  width: 2rem;
}

.purr-ui-title-bar-button {
  text-align: center;
}

.purr-ui-title-bar-title {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--font-family-display);
}

.purr-ui-title-bar-middle {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.purr-ui-button {
  border-radius: 1em;
  padding: 0.6rem 1.25rem;
  background: var(--color-button);
  font-weight: 500;
  font-family: var(--font-family-sans-serif);
  color: var(--color-button-text);
  cursor: pointer;
  flex-shrink: 0;
}

.purr-ui-button:not(:disabled):hover {
  background: var(--color-button-hover);
}

.purr-ui-button:disabled {
  background: var(--color-button-disabled);
}

.purr-ui-button[data-kind="icon"] {
  border-radius: 100%;
  padding: 0.6rem;
  font-weight: 400;
}

.purr-ui-button[data-style="clear"],
.purr-ui-button[data-style="clear"]:hover {
  background: transparent;
  color: var(--color-button-clear-text);
  padding: 0;
}

.purr-ui-category-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 1.5rem 1rem;
  background: var(--color-background);
  /* reset */
  font-size: 1rem;
  text-align: left;
  font-weight: normal;
}

.purr-ui-category-section-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.purr-ui-category-section-title {
  font-weight: 500;
  font-size: 1.5rem;
}

.purr-ui-divider {
  display: flex;
  justify-content: start;
  align-items: center;
}

.purr-ui-divider[data-orientation="horizontal"] {
  flex-direction: row;
  padding: 1.5rem 0.5rem;
  width: 100%;
}

.purr-ui-divider[data-orientation="vertical"] {
  flex-direction: column;
  padding: 0.5rem 1.5rem;
  height: 100%;
}

.purr-ui-divider[data-alignment="at-start"] .purr-ui-divider-before,
.purr-ui-divider[data-alignment="at-end"] .purr-ui-divider-after,
.purr-ui-divider[data-alignment="at-center"] .purr-ui-divider-before,
.purr-ui-divider[data-alignment="at-center"] .purr-ui-divider-after {
  flex-grow: 1;
}

.purr-ui-divider-before,
.purr-ui-divider-after {
  width: 1px;
  height: 1px;
  background: var(--color-border);
}

.purr-ui-card {
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  background: var(--color-background);
  border: 1px solid var(--color-border);
  transition: box-shadow ease-out 0.15s;
  display: flex;
  flex-direction: column;
}

.purr-ui-card[data-style="narrow"] {
  max-width: 20rem;
  flex-shrink: 0;
}

.purr-ui-card[data-style="fluid"] {
  width: 100%;
}

.purr-ui-card-media {
  flex-grow: 1;
}

.purr-ui-card-media img {
  width: 100%;
  height: auto;
}

.purr-ui-card-media .purr-ui-icon {
  display: block;
  margin: 0.5em auto;
}

.purr-ui-card-header {
  font-size: 1.4rem;
  padding: 1rem 1rem 0.2rem 1rem;
}

.purr-ui-card-meta {
  font-size: 0.9rem;
  padding: 0.2rem 1rem;
  color: var(--color-text-secondary);
}

.purr-ui-card-body {
  padding: 1.5rem 1rem;
  flex-grow: 1;
}

.purr-ui-card-footer {
  padding: 1rem;
  border-top: 1px solid var(--color-border);
}

.purr-ui-card-footer:not(:last-child) {
  border-bottom: 1px solid var(--color-border);
}

.purr-ui-card-action .purr-ui-button {
  width: 100%;
  border-radius: 0;
  padding: 1rem;
}

.purr-ui-tabbed-panel-container {
  display: flex;
  flex-direction: column;
}

.purr-ui-tabbed-panel-header-container {
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--color-background);
  border-bottom: 1px solid var(--color-border);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

.purr-ui-tabbed-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.1rem 1rem;
  cursor: pointer;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.purr-ui-tabbed-panel-header[data-selected="true"] {
  font-weight: bold;
  color: var(--color-accent);
  border-bottom: 3px solid var(--color-accent);
  background: var(--color-background-hover);
}

.purr-ui-tabbed-panel-header:hover {
  background: var(--color-background-hover);
}

.purr-ui-tabbed-panel-content-container {
  flex-grow: 1;
  overflow: hidden;
}

.purr-ui-tabbed-panel-content {
  height: 100%;
}

.purr-ui-tabbed-panel-content:not([data-selected="true"]) {
  display: none;
}

.purr-ui-navigation {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 1rem;
  background: var(--color-background);
  border-right: 1px solid var(--color-border);
  min-width: 12rem;
}

.purr-ui-navigation-header {
  padding-left: 0.75rem;
}

.purr-ui-navigation-header {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.6em;
  margin: 1.5rem 0 0.2rem;
  text-transform: uppercase;
  color: var(--color-text-secondary);
}

.purr-ui-navigation-link .purr-ui-link {
  display: block;
  text-decoration: none;
  color: var(--color-text);
  line-height: 1.4em;
  padding-left: 0.75rem;
}

.purr-ui-navigation-link .purr-ui-link[data-active="true"] {
  font-weight: bold;
  border-left: 3px solid var(--color-accent);
  padding-left: 0.5rem;
  color: var(--color-accent);
}

.purr-ui-navigation-link .purr-ui-link:hover {
  border-left: 3px solid var(--color-slate-400);
  padding-left: 0.5rem;
}

.purr-ui-breadcrumbs {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: start;
}

.purr-ui-breadcrumbs-separator {
  color: var(--color-text-secondary);
}

.purr-ui-flow > * {
  display: inline-block;
  vertical-align: baseline;
  white-space: break-spaces;
}

.purr-ui-text-input {
  border: 1px solid var(--color-border);
  background: var(--color-background);
  padding: 1rem 0.25rem 0.5rem 0.25rem;
  position: relative;
  border-radius: 0.25rem;
  margin-top: 0.8rem;
}

.purr-ui-text-input-label {
  font-size: 0.8rem;
  background: var(--color-background);
  position: absolute;
  top: -0.4rem;
  left: 0.75rem;
  padding: 0 0.25rem;
  color: var(--color-text-secondary);
}

.purr-ui-text-input-control {
  border: 0;
  background: 0;
  display: block;
  width: 100%;
  font-size: 1rem;
  color: var(--color-text);
}

.purr-ui-text-input[data-disabled="true"] {
  background: var(--color-input-disabled-background);
}
