html {
  --color-black: #2f2f2f;
  --color-white: #fafafa;

  /* todo: tweak this */
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;

  --color-border: var(--color-slate-200);

  --font-family-serif: serif;
  --font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  --font-family-monospace: ui-monospace, SFMono-Regular, Consolas,
    "Liberation Mono", monospace;
  --font-family-display: var(--font-family-sans-serif);
  --font-family-body: var(--font-family-sans-serif);
}

.purr-ui,
.purr-ui-root {
  /* TODO: shadow dom messes this up */
  width: 100vw;
  height: 100vh;
}

.purr-ui-container,
.purr-ui-surface,
.purr-ui-fragment {
  width: 100%;
  height: 100%;
}
