body {
  --primary-accent: #039be5;
  --divider-color: #95a5a6;
  --card-color: #fdfdfd;
  --card-background: #f3f3f3;
  --input-background: #fdfdfd;
  --button-background: var(--primary-accent);
  --button-disabled-background: var(--divider-color);
  --button-text: #fafafa;
}

.agata-text {
}

.agata-icon {
}

.agata-flow > .agata-flow-child {
  display: inline-block;
}

.agata-flex {
  display: flex;
}

.agata-card {
  border-radius: 2px;
  padding: 0.5em;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  background: var(--card-color);
}

.agata-card-container {
  background: var(--card-background);
  padding: 0.5em;
}

.agata-divider {
  margin: 0 auto;
  height: 1px;
  background: var(--divider-color);
}

.agata-divider-style-full {
  width: 100%;
}

.agata-divider-style-half {
  width: 50%;
}

.agata-text-input {
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid var(--primary-accent);
  background: var(--input-background);
  caret-color: var(--primary-accent);
  padding: 0.5em;
  position: relative;
}

.agata-text-input:focus {
  border-bottom-width: 3px;
}

.agata-button {
  background: var(--button-background);
  padding: 1em 2em;
  border: none;
  color: var(--button-text);
}

.agata-button:disabled {
  background: var(--button-disabled-background);
}
