@keyframes show {
  from {
    position: relative;
    opacity: 0;
    top: -1em;
  }

  to {
    position: relative;
    opacity: 1;
    top: 0;
  }
}

body {
  background: #fafafa;
  color: #424242;
  font-family: Lora, "serif";
  font-size: 24px;
  margin: 0;
  padding: 3em 2em;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

#crochet {
  max-width: 700px;
  margin: 0 auto;
  padding: 1em 1.5em;
  scroll-behavior: smooth;
  overflow: auto;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

#crochet[data-wait="true"]::after {
  content: "(Click to continue)";
  font-size: 14px;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  position: fixed;
  background: #fafafa;
  text-align: center;
  width: 100%;
  bottom: 2em;
  left: 0px;
  padding: 0.5em 0;
  font-weight: bold;
  color: #999;
}

.crochet-text {
  margin-bottom: 1.5em;
}

.crochet-divider {
  display: block;
  width: 50%;
  height: 2px;
  margin: 1em auto 2em auto;
  background: #ddd;
  border: none;
}

.crochet-mono {
  white-space: pre-wrap;
  font-family: monospace;
  padding: 0 2em;
  margin-bottom: 1.5em;
}

.crochet-header {
  margin-bottom: 2em;
}
.crochet-header .crochet-title {
  margin: 0;
}
.crochet-header .crochet-subtitle {
  margin: 0;
}

.crochet-title {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: bold;
  font-size: 1.8em;
}

.crochet-subtitle {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: normal;
  font-size: 1.3em;
  color: #777;
}

.crochet-error {
  white-space: pre-wrap;
  font-family: monospace;
  padding: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d35;
  background: rgba(250, 250, 250, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.crochet-menu {
  display: flex;
  margin: 2em 1em 2em 2em;
  flex-direction: column;
  justify-content: flex-end;
}

.crochet-button {
  width: 80%;
  cursor: pointer;
  padding: 0.3em 1em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #ddd;
  transition: all 250ms ease-out;
}

.crochet-button:hover,
.crochet-button[data-selected="true"] {
  padding-left: 2em;
  font-weight: bold;
  background: #f3f3f3;
}

.crochet-menu[data-selected="true"]
  > :not(.crochet-button[data-selected="true"]) {
  height: 0px;
  opacity: 0;
  margin: 0;
  padding: 0 1em;
  overflow: hidden;
}
